*{
    margin: 0;
    padding: 0;
}

@font-face {
  font-family: 'iconfont';  /* Project id 4774878 */
  src: url('//at.alicdn.com/t/c/font_4774878_2mr5o38un6p.woff2?t=1734572361647') format('woff2'),
       url('//at.alicdn.com/t/c/font_4774878_2mr5o38un6p.woff?t=1734572361647') format('woff'),
       url('//at.alicdn.com/t/c/font_4774878_2mr5o38un6p.ttf?t=1734572361647') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.page {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
}

